/******************* 
    Project Page 
*******************/
.sticky {
  position: sticky;
}

#projectList {
  background: #fffae4;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 28.5%);
  gap: 32px;
  justify-content: center;
  position: relative;
}

#projectList > div {
  background: #ffc47d;
  box-shadow: 2px 3px 0 #ed6d18, 3px 5px 7px #e66510;
  padding: 15px;
}

#skillList {
  display: flex; 
  flex-wrap: wrap;
}

#skillList span {
  background: #20C997;
  box-sizing: content-box;
  border-radius: 20px;
  padding: 3px 6px;
  margin: 0px 2px;
  font-size: 15px;
}

#projectList img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: 0 15%;
  left: 0px;
}

.projectTitle {
  padding-top: 5px;
  padding-left: 5px;
}

.description {
  padding: 5px;
}