/******************* 
    Project Page 
*******************/
body {
  overflow: hidden;
}

.sticky {
  position: sticky;
}

#projectList {
  background: #fff9de;
  padding: 15px;
  display: grid;
  gap: 32px;
  justify-content: center;
  position: relative;
  height: 79.5%;
  overflow-y: auto; 
}

#projectList > div {
  background: #ffc47d;
  box-shadow: 2px 3px 0 #ed6d18, 3px 5px 7px #e66510;
  padding: 15px;
}

#skillList {
  display: flex; 
  flex-wrap: wrap;
}

#skillList span {
  background: #20C997;
  box-sizing: content-box;
  border-radius: 20px;
  padding: 3px 8px;
  margin: 0px 2px;
  font-size: 15px;
}

#projectList img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: 0 15%;
  left: 0px;
}

.projectTitle {
  padding-top: 5px;
  padding-left: 5px;
}

.description {
  padding: 5px;
}

@media (min-width: 650px) {
  #projectList { grid-template-columns: repeat(2, 48.5%); }
  
}

@media (min-width: 1000px) {
  #projectList { grid-template-columns: repeat(3, 28.8%); }
}